.wildstar-datminer-tooltip
{

	background-color: #222;
	border-radius: 19px;
	border: none !important;
	padding: 0px !important;
	margin: 0px !important;
	white-space: normal !important;
	line-height: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	font-style: normal !important;
	color: -webkit-text !important;
	display: table !important;
	border-collapse: separate !important;
	max-width: 350px;
	height: 100%;
	/*box-shadow: 0 0 15px #000;*/
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #FFF;
    background-color: #383838;
    border-spacing: 2px !important;
}

.item>a {
	text-decoration: none;
}

.item {
	width: 23em;
	height: 3em;
}

.item-text {

	background-color: #222;
	margin: .5em !important;
	padding: .75em 1em .75em 1em !important;
	white-space: normal !important;
	line-height: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	font-style: normal !important;
	font-size: 1em !important;
	display: table !important;
	width: 100%;
	height: 1.5em !important;
	/*box-shadow: 0 0 15px #000;*/
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #FFF;
    background-color: #383838;
}

.wildstar-datminer-tooltip .header, .item-text
{
	background-color: #111;
	border-radius: 8px;
	
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
.wildstar-datminer-tooltip .header td
{
	padding: 2px 3px 2px 3px;
}

.wildstar-datminer-tooltip .icon
{
	margin: -2px 0px 0px 0px;
	width: 35px;
	height: 35px;
}
.wildstar-datminer-tooltip .name
{
	margin: 0px 0px 0px 50px;
	display: block;
	padding-bottom: 2px;
}
.wildstar-datminer-tooltip .type
{
	margin: 0px 0px 0px 50px;
	display: block;
	color: #777;
}
.wildstar-datminer-tooltip .power-bar
{
	text-align: center;
	margin: 5px;
}
.wildstar-datminer-tooltip .footer-bar
{
	text-align: center;
	margin-top: 5px;
}
.wildstar-datminer-tooltip .footer-bar img
{
	width:100%;
	max-width:240px;
}
.wildstar-datminer-tooltip .high-quality
{
	box-shadow: 0 0 3px #FFD700 !important;
}
.wildstar-datminer-tooltip TABLE
{
	white-space: normal !important;
	line-height: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	font-style: normal !important;
	color: -webkit-text !important;
	text-align: "start" !important;
	display: table !important;
	border-collapse: separate;
	width: 100% !important;
	height: 100% !important;
	font-size:12px !important;
    border-spacing: 2px !important;
}

.wildstar-datminer-tooltip .border-width
{
	width: 12px;
	line-height: 0;
}
.wildstar-datminer-tooltip .border-height
{
	height: 12px;
	line-height: 0;
}

.wildstar-datminer-tooltip .icon
{
	float: left;
	margin: 0 11px 0 0;
	/*border-radius: 80px;*/
	background-color: #262626;
	width: 35px;
	height: 35px;
	border: 2px solid #444;
	box-shadow: 1px 1px 3px #000;
}

.wildstar-datminer-tooltip .border-average 		{ border: 1px solid #ffffff;}
.wildstar-datminer-tooltip .border-inferior 	{ border: 1px solid #7d7d7d;}
.wildstar-datminer-tooltip .border-good 		{ border: 1px solid #A7E065;}
.wildstar-datminer-tooltip .border-excellent 	{ border: 1px solid #67A8E1;}
.wildstar-datminer-tooltip .border-superb 		{ border: 1px solid #7133FF;}
.wildstar-datminer-tooltip .border-legendary 	{ border: 1px solid #FFAD5C;}
.wildstar-datminer-tooltip .border-artifact 	{ border: 1px solid #E167A8;}

.wildstar-datminer-tooltip .average 	{ color: #ffffff;}
.wildstar-datminer-tooltip .inferior 	{ color: #7d7d7d;}
.wildstar-datminer-tooltip .good 		{ color: #A7E065;}
.wildstar-datminer-tooltip .excellent 	{ color: #67A8E1;}
.wildstar-datminer-tooltip .superb 		{ color: #7133FF;}
.wildstar-datminer-tooltip .legendary 	{ color: #FFAD5C;}
.wildstar-datminer-tooltip .artifact 	{ color: #E167A8;}

.wildstar-datminer-tooltip .lime { color: #C0E66A !important; }
.wildstar-datminer-tooltip .green { color: #0dc75b !important; }
.wildstar-datminer-tooltip .grey { color: #999999 !important; }
.wildstar-datminer-tooltip .blue { color: #6e76e9 !important; }
.wildstar-datminer-tooltip .orange { color: #ff9c3a !important; }
.wildstar-datminer-tooltip .wildstar {color: #55D0FF !important; }
.wildstar-datminer-tooltip .red {color: #A90329 !important; }

.wildstar-datminer-tooltip .description
{
	width: 280px;
	font-size: 12px;
	padding-top: 5px;
}
.wildstar-datminer-tooltip .body
{
	background-color: #111;
	border: 1px solid #333;
	margin-top: 7px;
	border-radius: 3px;
	padding: 0px 10px 10px 10px;
    max-width: 350px;
	
}
.wildstar-datminer-tooltip .body .body-top
{
    border-bottom: 1px solid #232323;
    margin: 0px 0px 10px 0px;
}
.wildstar-datminer-tooltip .body .body-top .item-special
{
	width: 280px;	
}
.wildstar-datminer-tooltip .body .body-attributes
{
}
.wildstar-datminer-tooltip .body .body-attributes .substat
{
	font-size: 11;
	margin: 5px 0px 0px 4px;
	padding: 0px 0px 0px 5px;
}
.wildstar-datminer-tooltip .body .body-attributes .substat-border-left
{
	border-left: dashed 1px #232323;
}
.wildstar-datminer-tooltip .body .body-attributes .substat-border-top
{
	/*border-top: dashed 1px #232323;*/
	/*padding: 2px 0px 0px 5px !important;*/
}


.wildstar-datminer-tooltip .body .body-top-table
{
	font-size:12px;
    padding: 0px 0px 5px 0px;
    
}
.wildstar-datminer-tooltip .body .armor
{
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	color: #C0E66A;
	text-shadow: 0 1px 5px #000;
}

.wildstar-datminer-tooltip .tiers {
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    border-top: 1px solid #232323;
}

.wildstar-datminer-tooltip .tier-text {
    color: #555;
    margin: 5px;
}

.wildstar-datminer-tooltip .damage-replacement
{
    color: #BBB;
}

.wildstar-datminer-tooltip .entity-reference
{
}

.wildstar-datminer-tooltip .spell-spacer {
    background-image: url('/images/tooltip/spell_bar.png');
    width: 100%;
    height: 10px;
    margin: 10px 0px 10px 0px;
}

.wildstar-datminer-tooltip .slot-water {
    background-image: url('/images/elements/green/ui_crb_tooltip_water.tex.png');
    background-size: 80% 80%;
    background-position: 3px;
    background-repeat: no-repeat;
}

.wildstar-datminer-tooltip .slot-fire {
    background-image: url('/images/elements/green/ui_crb_tooltip_fire.tex.png');
    background-size: 80% 80%;
    background-position: 3px;
    background-repeat: no-repeat;
}
.wildstar-datminer-tooltip .slot-omni {
    background-image: url('/images/elements/green/ui_crb_tooltip_omni.tex.png');
    background-size: 80% 80%;
    background-position: 3px;
    background-repeat: no-repeat;
    color: #999999;
}
.wildstar-datminer-tooltip .slot-fusion {
    background-image: url('/images/elements/green/ui_crb_tooltip_fusion.tex.png');
    background-size: 80% 80%;
    background-position: 3px;
    background-repeat: no-repeat;
}
.wildstar-datminer-tooltip .slot-air {
    background-image: url('/images/elements/green/ui_crb_tooltip_air.tex.png');
    background-size: 80% 80%;
    background-position: 3px;
    background-repeat: no-repeat;
}
.wildstar-datminer-tooltip .slot-earth {
    background-image: url('/images/elements/green/ui_crb_tooltip_earth.tex.png');
    background-size: 80% 80%;
    background-position: 3px;
    background-repeat: no-repeat;
}
.wildstar-datminer-tooltip .slot-life {
    background-image: url('/images/elements/green/ui_crb_tooltip_life.tex.png');
    background-size: 80% 80%;
    background-position: 3px;
    background-repeat: no-repeat;
}
.wildstar-datminer-tooltip .slot-logic {
    background-image: url('/images/elements/green/ui_crb_tooltip_logic.tex.png');
    background-size: 80% 80%;
    background-position: 3px;
    background-repeat: no-repeat;
}
.wildstar-datminer-tooltip .slot-salvage {
    background-image: url('/images/elements/green/ui_crb_tooltip_salvage.tex.png');
    background-size: 80% 80%;
    background-position: 3px;
    background-repeat: no-repeat;
}
.wildstar-datminer-tooltip .slot-shadow {
    background-image: url('/images/elements/green/ui_crb_tooltip_shadow.tex.png');
    background-size: 80% 80%;
    background-position: 3px;
    background-repeat: no-repeat;
}

.wildstar-datminer-tooltip .hr
{
	width: 100%;
	border-bottom: 1px ridge #232323;
}
.wildstar-datminer-tooltip .glyph-slot {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    display: inline-block;
    background-color: #232323;
    border: 1px solid #000;
    box-shadow: inset 0px 0px 3px #000;
    margin: 0px 10px 3px 0px;
    vertical-align: middle;
}

.wildstar-datminer-tooltip .benefit {
    font-size: 12px;
	/* padding-top: 5px; */
	/* border-radius: 3px; */
	margin: 15px 0px 0px 0px;
	padding: 10px;
	display: inline-block;
	background: #232323;
    width: 100%;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: border-box;
    
    box-sizing: border-box;
}
.wildstar-datminer-tooltip .search-result-icon-small-nobox
{
	/* border-radius: 80px; */
	width: 15px;
	height: 15px;
	z-index: 2;
	position: relative;
    vertical-align: middle;
    margin-top: -1px;
}
.wildstar-datminer-tooltip .search-result-icon-small-money
{
	/* border-radius: 80px; */
	z-index: 2;
	position: relative;
    vertical-align: middle;
    margin-top: -1px;
}

.wildstar-datminer-tooltip .wildstar-datminer-tooltip-copyright
{
    text-align: right;
    margin: 5px 0px 0px 0px;
    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 8px;
    font-weight: bold;
}
.wildstar-datminer-tooltip .search-result-icon
{
    float: left;
    margin: 0 11px 0 0;
    /* border-radius: 80px; */
    background-color: #262626;
    width: 55px;
    height: 55px;
    border: 2px solid #444;
    box-shadow: 1px 1px 3px #000;
}
/*CLEAR FIX*/
.wildstar-datminer-tooltip .clear {
	zoom: 1;
    line-height: normal !important;
    height: inherit !important;
    width: inherit !important;
}
.wildstar-datminer-tooltip .clear:before, .wildstar-datminer-tooltip .clear:after {
	content: "";
	display: table;
}
.wildstar-datminer-tooltip .clear:after {
	clear: both;
}
.wildstar-datminer-tooltip .arche-type-img
{
    width:32px;
    height:32px;   
}
.wildstar-datminer-tooltip .recipe-body IMG {
    margin: 2px 10px 0px 5px;
    background-color: #262626;
    width: 20px;
    height: 20px;
    border: 2px solid #444;
    box-shadow: 1px 1px 3px #000;
    z-index: 2;
    position: relative;
}
.wildstar-datminer-tooltip .screenshot-box
{
    width: 256px;
    height: 256px;
    display: inline-block;    
    /* border-radius: 80px; */
    background-color: #262626;
    /* width: 60px; */
    /* height: 60px; */
    border: 2px solid #444;
    box-shadow: 1px 1px 3px #000;
    z-index: 2;
    position: relative;   
}