<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script> 
var wildstar_datminer_config = 
{
//language: 1: English, 2: Deutsch, 3: Francais
"language": 1, 

//Do you want to replace the name of the link?
"name_replace": true, 

//Do you want to show quality colors?
"color_show": true,

//Do you want to have an icon added?
"icon_replace": true

} </script>
<script src="http://wildstar.datminer.com/scripts/wildtips.js"></script>
<link rel="stylesheet" type="text/css" href="/static/items.css">
{% for item in items %}

<div class="item wildstar-dataminer-tooltip" 
 {% for k,v in item %}
 {{ k }}="{{ v }}"
 {% endfor %}
 >
{% for k,v in item %}
{% if k == "id" %}
<a class="item-text" href="http://wildstar.datminer.com/item/{{ v }}/" ></a>
{% endif %}
{% endfor %}
</div>
{% endfor %}

