{% if error %}
<font color="red">{{ error }}</font>
{% endif %}
<form method="post">
Email:<br />
<input name="email" /><br /><br />

Password:<br />
<input name="password" type="password" /><br /><br />

<input type="submit" value="Log in" />
<input type="hidden" name="redirect" value="{{ redirect|default_if_none:"/user/profile" }}" />
</form>