<h1>{{ name }}</h1>
{% if email %}
<h3>{{ email }}</h3>
{% endif %}

<h2> Characters </h2>
{% if characters %}
{% for c in characters %}
{{ c }}
</br>
{% endfor %}
{% else %}
No characters yet
{% endif %}