<h2> Characters </h2>
{% if characters %}
{% for c in characters %}
<a href="/character/detail/{{ c.5 }}/{{ c.4 }}">{{ c.4 }} @ {{ c.5 }}</a>
</br>
{% endfor %}
{% else %}
No characters yet
{% endif %}